<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectrum Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: black;
        }
        .quadrant {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid white;
        }
        #scheduleData {
            max-height: 1500px;
            overflow-y: auto; 
        }
    </style>
</head>
<body class="bg-black text-white">
    <div class="grid grid-cols-2 grid-rows-2 h-screen">
        <div class="frequency-data border border-white p-4"><canvas id="frequencyChart"></canvas></div>
        <div id="right" class="quadrant border border-white row-span-2 p-4 flex flex-col justify-center items-center"><div id="scheduleData">Loading schedule data...</div></div>
        <div id="bottom-left" class="quadrant border border-white p-4">Bottom Left Content</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const ctx = document.getElementById('frequencyChart').getContext('2d');
        let chart;
        var socket = io.connect('http://' + document.domain + ':' + location.port);
    
        socket.on('connect', function() {
            socket.emit('request_data');
        });
        socket.on('update_data', function(data) {
            // Update the chart with the received data
        });

        async function fetchScheduleData() {
            const response = await fetch('/fetch-schedule');
            const data = await response.json();
            
            const scheduleElement = document.getElementById('scheduleData');
            scheduleElement.innerHTML = data.join('<br>');
        }
        fetchScheduleData();

        async function fetchData() {
            const response = await fetch('/data');
            const data = await response.json();
            const labels = Object.keys(data);
            const values = Object.values(data);
            updateChart(labels, values);
        }

        function updateChart(labels, values) {
            if (chart) {
                chart.data.labels = labels;
                chart.data.datasets[0].data = values;
                chart.update();
            } else {
                chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: values,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {
                                display: false
                            },
                            tooltip: {
                                enabled: true,
                                callbacks: {
                                    label: function(context) {
                                        return context.parsed.y;
                                    }
                                }
                            }
                        },
                        interaction: {
                            intersect: false,
                            mode: 'nearest'
                        },
                        scales: {
                            y: {
                                min: -140,
                                max: -60,
                                ticks: {
                                    stepSize: 5,
                                    callback: function(value, index, values) {
                                        return value + ' dBm';
                                    }
                                }
                            }
                        }
                    }
                });
            }
        }

        setInterval(fetchData, 1000);
    </script>
</body>
</html>
